//-----------LOGIN---------//
// VARIABLEs
@import './variables/main';
@include resetStyles;

// ANIMATIONs
@import './animation/animation';

// FONTs
@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Ubuntu:wght@300;400;500;700&family=Pacifico&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    overflow-y: hidden;
}
.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu';
    background: #242221;
    background-size: cover;
    min-height: 100vh;
    overflow-y: hidden;
    
    .coffee-off {
        position: absolute;
        z-index: 0;
        color: #e4842b;
        font-size: 3rem;
        font-weight: 100;
        font-family: 'Pacifico', cursive;
        top: 0;
        margin: 1rem;
    }
    .sub-title {
        display: none;
    }
}

.flex-container-login {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 75vh;
    width: 85vw;
    padding: 15px 0;
    border-radius: 15px;
    color: #fff;
    background-color: #ffffff10;
    
    .title {
        align-self: center;
        
    }
    span {
        margin: 15px;
    }
}

// ALTERN FORM 
.selected {
    border-bottom: 2px solid #e4842b;
}
.no-selected {
    cursor: pointer;
}


// SING UP/IN
.container-input {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    label {
        margin: 1rem;
        width: 80%;

        input {
            display: block;
            height: 40px;
            width: 100%;
            margin-top: 5px;
            background: rgba(250, 250, 250, .1);
            border-radius: 15px;
            border: none;
            border: 1px solid #e4842b;
            padding-left: 5px;
            &::placeholder {
                color:#d3d3d3;
            }
        }
    }

}     

.container-terms {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem 0;

    input {
        width: 15px;
        margin: 15px 0;
    }

    p {
        align-self: center;
        margin: 0 5px;
    }

}
button {
    display: inline-block;
    background: #e4842b;
    font-size: 1em;
    font-weight: bold;
    color: #fff;
    padding: 8px 30px;
    border: 2.5px solid #e4842b;
    border-radius: 25px;
    cursor: pointer;
    transition: background .5s;
    &:hover{
        background: none;
        color: #fff;
    } 
}



.showSignIn {
    border-bottom: 2px solid #e4842b;
    display: inline-block;
    cursor: default;
}

.hideSignIn {
    border-bottom: none;
    cursor: pointer;
}

.hide {
    display: none;
}


/* WARNING */
#warningUp {
    position: relative;
    float: left;
    color: red;
    text-align: center;
}
#warningIn {
    position: relative;
    float: left;
    color: rgb(239, 197, 197);
    text-align: center;
}
    
// MEDIA QUERIES
@media screen and (min-width: 800px) and (max-width: 1024px) {
    .login {
        .coffee-off {
            font-size: 4rem;
        }
    }

    .flex-container-login {
        span {
            font-size: 2rem;
        }
    }

    .container-input {
        label {
            font-size: 1.5rem;

            input {
                height: 65px;
                border-radius: 35px;
                padding-left: 1.2rem;
                &::placeholder {
                    font-size: 1.2rem;
                }
            }
        }
    }

    .container-terms { 
        input {
            width: 25px;
            height: 25px;
        }
        p {
            font-size: 1.2rem;
        }
    }
    button {
        width: 25%;
        height: 45px;
    }
}

@media screen and (min-width: 1024px) {
    .login {
        flex-direction: row;

        .coffee-off {
            font-size: 5rem;
            top: 25%;
            left: 10%; 

        }
        .sub-title {
            display: inline-block;
            font-size: 1.5rem;
            color: #d3d3d3;
            margin-top: 3rem;
            margin-left: 3rem;
        }
    
        .flex-container-login {
            position: relative;
            width: 45vw;
            right: -10%;
        }
    }
}