@import url("https://fonts.googleapis.com/css2?family=Koulen&family=Ubuntu:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

body {
  position: relative;
  width: 100vw;
  max-width: 100%;
  max-height: 100%;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

main {
  width: 100%;
  height: 100%;
}

.title-article {
  font-size: 2rem;
  margin: 3.5rem auto .8rem;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background: #fbfbfb;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.hide {
  display: none;
}

@-webkit-keyframes showDetailsClassics {
  0% {
    height: 0;
  }
  100% {
    height: 335px;
  }
}

@keyframes showDetailsClassics {
  0% {
    height: 0;
  }
  100% {
    height: 335px;
  }
}

@-webkit-keyframes showDetailsSpecials {
  0% {
    height: 0;
  }
  100% {
    height: 315px;
  }
}

@keyframes showDetailsSpecials {
  0% {
    height: 0;
  }
  100% {
    height: 315px;
  }
}

@-webkit-keyframes showDetails2 {
  0% {
    left: calc(80vw);
  }
  100% {
    left: 0;
  }
}

@keyframes showDetails2 {
  0% {
    left: calc(80vw);
  }
  100% {
    left: 0;
  }
}

@-webkit-keyframes hideDetails2 {
  0% {
    left: 0;
  }
  100% {
    left: calc(80vw);
  }
}

@keyframes hideDetails2 {
  0% {
    left: 0;
  }
  100% {
    left: calc(80vw);
  }
}

@-webkit-keyframes hideInfo {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

@keyframes hideInfo {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

@-webkit-keyframes imgCover {
  50% {
    top: 0;
  }
  100% {
    top: -30px;
    -webkit-filter: blur(1.5px);
            filter: blur(1.5px);
  }
}

@keyframes imgCover {
  50% {
    top: 0;
  }
  100% {
    top: -30px;
    -webkit-filter: blur(1.5px);
            filter: blur(1.5px);
  }
}

@-webkit-keyframes aniBtn {
  0% {
    border: 1px solid #e4842b;
  }
  25% {
    border: 3px solid #e4842b;
  }
  50% {
    border: 6px solid #e4842b;
  }
  75% {
    border: 3px solid #e4842b;
  }
  100% {
    border: 1px solid #e4842b;
  }
}

@keyframes aniBtn {
  0% {
    border: 1px solid #e4842b;
  }
  25% {
    border: 3px solid #e4842b;
  }
  50% {
    border: 6px solid #e4842b;
  }
  75% {
    border: 3px solid #e4842b;
  }
  100% {
    border: 1px solid #e4842b;
  }
}

@-webkit-keyframes borderActive {
  0% {
    border: 1px solid #e4842b;
  }
  50% {
    border: 2px solid #e4842b;
  }
  100% {
    border: 3px solid #e4842b;
  }
}

@keyframes borderActive {
  0% {
    border: 1px solid #e4842b;
  }
  50% {
    border: 2px solid #e4842b;
  }
  100% {
    border: 3px solid #e4842b;
  }
}

.navigation {
  position: fixed;
  width: 100vw;
  height: 70px;
  z-index: 100;
  bottom: 0px;
  background: black;
}

.navigation .menuToggle {
  display: none;
}

.navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
  width: 100%;
}

.navigation ul li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navigation ul li a {
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation ul li a .icon {
  color: #e0dad3;
  font-size: 1.75rem;
}

.navigation ul li a .text {
  display: none;
}

@media screen and (min-width: 800px) {
  .navigation {
    display: none;
  }
}

header {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100vw;
  background-image: url(../img/coffee1b.jpg);
  background-size: cover;
  background-position: center;
  border-bottom: 1px solid #000000;
}

header section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 40%;
  height: 100%;
  min-height: 650px;
  padding-top: 350px;
  background: #000000;
}

header section h1 {
  position: absolute;
  font-family: 'Koulen', cursive;
  font-size: 4.5rem;
  top: 0;
  left: 0;
  margin: 1rem;
  color: #e4e4e4;
  letter-spacing: 0.3rem;
  line-height: 6rem;
}

header section p {
  margin: 1rem 1rem;
  font-size: 1.1rem;
  font-weight: 500;
  color: #999999;
}

header section .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1.5rem auto;
  width: 90%;
  padding: .8rem;
  border-radius: 1rem;
  background: #e4842b;
  text-align: center;
}

header section .btn a {
  color: #ffffff;
  width: 100%;
  height: auto;
  font-size: 1.2rem;
  font-weight: 500;
}

@media screen and (min-width: 400px) {
  .home h1 {
    font-size: 5.8rem;
  }
  .home p {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 600px) {
  .home h1 {
    font-size: 7rem;
  }
}

@media screen and (min-width: 800px) {
  header {
    background-size: auto;
    background-position: right;
  }
}

@media screen and (min-width: 1000px) {
  header {
    background-position: right;
  }
  header .home {
    width: 55%;
  }
}

@media screen and (min-width: 1024px) {
  header {
    background-size: 700px;
  }
  header .home .btn {
    width: 65%;
  }
}

@media screen and (min-width: 1440px) {
  header .home h1 {
    font-size: 8rem;
    margin: 3rem;
    line-height: 110px;
  }
  header .home p {
    font-size: 2rem;
    margin: 2rem 3rem;
  }
}

.description {
  background: #242221;
  padding: 8rem 0;
}

.description .principalWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.description div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.description div h2 {
  font-size: 3.5rem;
  text-transform: uppercase;
  color: #e4842b;
}

@media (max-width: 1200px) {
  .description div h2 {
    font-size: 10vw;
  }
}

.description div span {
  color: #ffffff;
  font-size: 1.5rem;
}

@media (max-width: 1200px) {
  .description div span {
    font-size: 2rem;
    margin-top: 4rem;
    padding: 0 2rem;
  }
}

.description ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 6rem;
}

.description ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 4rem;
}

.description ul li div {
  width: 6rem;
}

.description ul li div img {
  width: 7rem;
}

.description ul li p {
  color: #ffffff;
  margin-top: 2rem;
  font-size: 2rem;
}

@media screen and (min-width: 700px) {
  .description .principalWrapper span {
    font-size: 3rem;
  }
  .description .principalWrapper img {
    width: 12rem;
  }
  .description .principalWrapper p {
    font-size: 3rem;
  }
}

.listProducts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f1eae6c9;
}

.listProducts .principalWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
}

.listProducts h2 {
  font-size: 2.5rem;
  color: #e4842b;
  text-align: center;
  margin: 2rem;
  padding-bottom: 2.6rem;
  border-bottom: 1px dashed #242221;
}

.listProducts .cafeteria {
  width: 100%;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 25vh;
}

.listProducts #btnClassics {
  border-radius: 15px 15px 0 0;
  margin-top: 2rem;
}

.listProducts .border-radius-bottom {
  border-radius: 0 0 15px 15px;
}

.listProducts .container-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  font-size: 28px;
  color: #e0dad3;
  background: #242221;
}

.listProducts .container-items .btn-details {
  border: none;
  width: 65%;
  height: 35px;
  text-align: start;
}

.listProducts .container-details {
  position: relative;
  overflow-y: hidden;
  height: 0;
  width: 100%;
}

.listProducts .container-details .container-coffee {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1px;
}

.listProducts .container-details .container-coffee button {
  border: none;
}

.listProducts .container-details .container-coffee button span {
  font-weight: 700;
  font-size: 18px;
}

.listProducts .container-details .container-coffee .title-item {
  width: 100%;
  -ms-flex-preferred-size: 55px;
      flex-basis: 55px;
  text-align: center;
  padding: 1rem;
  background: #e4842b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.listProducts .container-details .container-coffee .title-item div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.listProducts .container-details .container-coffee .title-item span {
  font-weight: 700;
  font-size: 18px;
  margin-right: 7px;
}

.listProducts .container-details .container-coffee .title-item button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  font-size: 1.8rem;
  background: #242221;
  color: #dbd9d9;
  border-radius: 50%;
  -webkit-box-shadow: 2px 2px 4px #af6622, -3px -3px 2px #db8c41, inset 1px 1px 4px #838383;
          box-shadow: 2px 2px 4px #af6622, -3px -3px 2px #db8c41, inset 1px 1px 4px #838383;
}

.listProducts .container-details .container-coffee .title-item button:hover {
  background: #575453;
  border: 1px solid #000000;
}

.listProducts .container-details .container-coffee .container-size {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80vw;
  height: 325px;
  left: calc(80vw);
}

.listProducts .container-details .container-coffee .container-size .title {
  position: absolute;
  padding: 2rem;
  bottom: 120px;
  left: -189px;
  text-align: center;
  background: #e4842b;
  font-size: 28px;
  z-index: 15;
  width: 464px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.listProducts .container-details .container-coffee .container-size .title h3 {
  display: inline;
  text-align: center;
}

.listProducts .container-details .container-coffee .container-size .container-size-details {
  position: absolute;
  background: #eeeeee;
  left: calc(86px);
  padding-right: 45px;
  width: 90%;
  height: 325px;
  overflow-y: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  z-index: 90;
  -webkit-box-shadow: 3px 5px 8px #642800;
          box-shadow: 3px 5px 8px #642800;
  border-bottom: 2px solid #000000;
  border-left: 2px solid #000000;
}

.listProducts .container-details .container-coffee .container-size .container-size-details .li-btn {
  position: relative;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.listProducts .container-details .container-coffee .container-size .container-size-details .li-btn .btn-close {
  margin: 0 2rem;
  width: 40px;
  height: 40px;
  font-size: 1rem;
  font-weight: 600;
  color: #dbd9d9;
  background: #646161;
  border-radius: 50%;
  -webkit-box-shadow: 2px 2px 4px #a1a09f, -3px -3px 2px #ffffff, inset 2px 2px 4px #b3b2b2;
          box-shadow: 2px 2px 4px #a1a09f, -3px -3px 2px #ffffff, inset 2px 2px 4px #b3b2b2;
}

.listProducts .container-details .container-coffee .container-size .container-size-details .li-btn .btn-close:hover {
  background: #272727;
  border: 3px solid #000000;
}

.listProducts .container-details .container-coffee .container-size .container-size-details .li-size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  padding: .5rem 0;
  font-size: large;
  font-weight: 600;
}

.listProducts .container-details .container-coffee .container-size .container-size-details .li-size button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  font-size: 1.8rem;
  background: #242221;
  color: #dbd9d9;
  border-radius: 50%;
  -webkit-box-shadow: 2px 2px 4px #a1a09f, -3px -3px 2px #ffffff, inset 1px 1px 4px #838383;
          box-shadow: 2px 2px 4px #a1a09f, -3px -3px 2px #ffffff, inset 1px 1px 4px #838383;
}

.listProducts .container-details .container-coffee .container-size .container-size-details .li-size button:hover {
  background: #575453;
  border: 1px solid #000000;
}

.listProducts .food {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  height: 180px;
  overflow: hidden;
  margin: 1rem;
  border: 1px solid #e4842baf;
  border-radius: 10px;
  background: #f0eeee;
  -webkit-box-shadow: 2px 2px 6px #7e7a7a;
          box-shadow: 2px 2px 6px #7e7a7a;
  -webkit-transition: 2s all;
  transition: 2s all;
}

.listProducts .food .container-img {
  width: 100%;
}

.listProducts .food .container-img img {
  position: relative;
  width: 100%;
}

.listProducts .food .flex-container {
  max-width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  overflow: hidden;
  border-left: 1px solid #ff9f0f;
}

.listProducts .food .flex-container h3 {
  text-align: center;
}

.listProducts .food .flex-container span {
  color: #e4842b;
  padding: 5px;
}

.listProducts .food .flex-container p {
  font-size: .9rem;
  padding: 5px;
}

.listProducts .food .btnAdd {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 0;
  right: 0;
  top: 0;
}

.listProducts .food .btnAdd button {
  border: none;
  background: #ff8c20;
  border: #eeeeeeaf 1px solid;
  color: #e0dad3;
  font-size: large;
  font-weight: 500;
  padding: 1rem;
  border-radius: 10px;
  margin: 1rem;
}

.listProducts .up-hide-classics {
  -webkit-animation: showDetailsClassics 1.2s normal forwards;
          animation: showDetailsClassics 1.2s normal forwards;
}

.listProducts .up-hide-specials {
  -webkit-animation: showDetailsSpecials 1.2s normal forwards;
          animation: showDetailsSpecials 1.2s normal forwards;
}

.listProducts .right-show {
  -webkit-animation: showDetails2 .5s normal forwards;
          animation: showDetails2 .5s normal forwards;
}

.listProducts .right-hide {
  -webkit-animation: hideDetails2 .5s normal forwards;
          animation: hideDetails2 .5s normal forwards;
}

.listProducts .hide-info {
  -webkit-animation: hideInfo .5s normal forwards;
          animation: hideInfo .5s normal forwards;
}

.listProducts .full-img {
  -webkit-animation: imgCover .5s normal forwards;
          animation: imgCover .5s normal forwards;
}

.listProducts .show-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
}

.listProducts .cross {
  position: absolute;
  right: 0;
  top: 0;
  margin: 2% 3%;
  color: #e4842b85;
  font-size: 20px;
  font-weight: 500;
}

.listProducts .hide-btn {
  display: none;
  opacity: 0;
}

.listProducts .anim-btn {
  -webkit-animation: aniBtn .5s normal forwards;
          animation: aniBtn .5s normal forwards;
}

.listProducts .border-active {
  -webkit-animation: borderActive .2s normal forwards;
          animation: borderActive .2s normal forwards;
}

.cartList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8rem 0;
  text-align: center;
  background: #f3f3f3;
  position: relative;
}

.cartList #totalItems {
  position: absolute;
  top: 0;
  background: #f01919;
  color: #ffffff;
}

.cartList .principalWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cartList h2 {
  font-size: 3.5rem;
  color: #e4842b;
}

@media (max-width: 1200px) {
  .cartList h2 {
    font-size: 10vw;
  }
}

.cartList p {
  font-size: 1.5rem;
  color: #e4842b;
  margin: 1.5rem 0 2rem 0;
}

@media (max-width: 1200px) {
  .cartList p {
    font-size: 7vw;
  }
}

.cartList .cart-wrapper {
  width: 70%;
  background: #ffffff;
  padding: 2rem;
  border-radius: 1rem;
  color: #e4842b;
}

@media (max-width: 1200px) {
  .cartList .cart-wrapper {
    width: 90%;
  }
}

.cartList .cart-wrapper .cart-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.5rem;
}

.cartList .cart-wrapper .cart-item span {
  font-size: 1.6rem;
  font-weight: 700;
}

@media (max-width: 1200px) {
  .cartList .cart-wrapper .cart-item span {
    font-size: 0.8rem;
  }
}

.cartList .cart-wrapper .cart-item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #733727;
}

.cartList .cart-wrapper .cart-item-content span {
  text-transform: capitalize;
  font-size: 1.6rem;
  font-weight: 500;
  margin-left: 1rem;
}

.cartList .cart-wrapper .item-img {
  width: 50px;
}

.cartList .cart-wrapper .total-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 1.6rem;
  margin-top: 2rem;
  padding-top: 1rem;
}

.total-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 1.6rem;
  margin-top: 2rem;
  padding-top: 1rem;
}

.emptyProductsMessage {
  font-weight: 700;
  font-size: 1.6rem;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8rem 0 4rem 0;
  background: #242221;
  color: #ffffff;
  text-transform: uppercase;
}

footer .principalWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .title {
  width: 30rem;
  height: auto;
  margin-bottom: 4rem;
}

@media (max-width: 1200px) {
  footer .title {
    width: 70vw;
    height: auto;
  }
}

footer section {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 4rem;
}

@media (max-width: 1200px) {
  footer section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

footer section div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1200px) {
  footer section div {
    margin-bottom: 3rem;
  }
}

footer section div h2 {
  font-size: 2.2rem;
  margin-bottom: 1.8rem;
}

footer section div span {
  font-size: 1.5rem;
}
/*# sourceMappingURL=styles.css.map */