@import './variables/main';
@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Ubuntu:wght@300;400;500;700&display=swap');
@include resetStyles;

::-webkit-scrollbar {
    display: none;
}

body {
    background: #fbfbfb;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.hide {
    display: none;
}

// ------------ ANIMATION ------------------------------------------------------------ //
@keyframes showDetailsClassics {
    0%{
        height: 0;
    }

    100%{
        height: 335px;
    }
}

@keyframes showDetailsSpecials {
    0%{
        height: 0;
    }

    100%{
        height: 315px;
    }
}


@keyframes showDetails2 {
    0%{
        left: calc(80vw);
    }
    100%{
        left: 0;
    }
}

@keyframes hideDetails2 {
    0%{
        left: 0;
    }
    100%{
        left: calc(80vw);
    }
}

@keyframes hideInfo {
    0% {
        width: 100%;
    }
    100% {
        width: 0;
    }
}

@keyframes imgCover {
    50% {
        top: 0;
    }
    100% {
        top: -30px;
        filter: blur(1.5px);
    }
}

@keyframes aniBtn {
    0% {
        border: 1px solid #e4842b;
    }
    25% {
        border: 3px solid #e4842b;
    }
    50% {
        border: 6px solid #e4842b;
    }
    75% {
        border: 3px solid #e4842b;
    }
    100% {
        border: 1px solid #e4842b;
    }
}

@keyframes borderActive {
    0% {
        border: 1px solid #e4842b;
    }
    50% {
        border: 2px solid #e4842b;
    }
    100% {
        border: 3px solid #e4842b;
    }
}

// ------------ NAVIGATION MENU ------------------------------------------------------------ //
.navigation {
    position: fixed;
    width: 100vw;
    height: 70px;
    z-index: 100;
    bottom: 0px;
    background: black;

    .menuToggle {
        display: none;
    }

    ul {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
        width: 100%;
        
        li {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            transition: 0.5s;

            a {
                width: 100%;
                height: 70px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            a .icon {
                color: #e0dad3;
                font-size: 1.75rem;

            }

            a .text {
                display: none;
            }
        } 
    }
}

@media screen and (min-width: 800px) {
    .navigation {
        display: none;
    }
}


// ------------ HEADER ------------------------------------------------------------ //
header {
    height: fit-content;
    width: 100vw;
    background-image: url(../img/coffee1b.jpg);
    background-size: cover;
    background-position: center;
    border-bottom: 1px solid #000000;
    
    section {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        width: 40%;
        height: 100%;
        min-height: 650px;
        padding-top: 350px;
        background: #000000;
        
        h1 {
            position: absolute;
            font-family: 'Koulen', cursive;
            font-size: 4.5rem;
            top: 0;
            left: 0;
            margin: 1rem;
            color: #e4e4e4;
            letter-spacing: 0.3rem; 
            line-height: 6rem;
        }

        p {
            margin: 1rem 1rem;
            font-size: 1.1rem;
            font-weight: 500;
            color: #999999;
        }
        
        .btn {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 1.5rem auto;
            width: 90%;
            padding: .8rem;
            border-radius: 1rem;
            background: #e4842b;
            text-align: center;
            
            a {
                color: #ffffff;
                width: 100%;
                height: auto;
                font-size: 1.2rem;
                font-weight: 500;
            }
        }
    
    }
     
}

@media screen and (min-width: 400px) {
    .home {
        h1 {
            font-size: 5.8rem;
        }
        p {
            font-size: 1.5rem;
        }
    }
}

@media screen and (min-width: 600px) {
    .home {
        h1 {
            font-size: 7rem;
        }
    }
}

@media screen and (min-width: 800px) {
    header {
        background-size: auto;
        background-position: right;
    }
}

@media screen and (min-width: 1000px) {
    header {
        background-position: right;

        .home {
            width: 55%;
        }
    }
}

@media screen and (min-width: 1024px) {
    header {
        background-size: 700px;
        .home {

            .btn {
                width: 65%
            }
        }
    }
}

@media screen and (min-width: 1440px) {
    header {
        .home {
            h1 {
                font-size: 8rem;
                margin: 3rem;
                line-height: 110px;
            }
            p {
                font-size: 2rem;
                margin: 2rem 3rem
            }

        }
    }
}

/////////////////////////////////////////////////////////////

// DESCRIPTION ------------------------------------------

.description {
    background: #242221;
    padding: 8rem 0;

    .principalWrapper {
        @include orderFlex(column, center, center);
    }

    div {
        @include orderFlex(column, center, center);
        text-align: center;

        h2 {
            font-size: 3.5rem;
            text-transform: uppercase;
            color: #e4842b;

            @media(max-width: 1200px) {
                font-size: 10vw;
            }
        }

        span {
            color: $main-white;
            font-size: 1.5rem;

            @media(max-width: 1200px) {
                font-size: 2rem;
                margin-top: 4rem;
                padding: 0 2rem;
            }
        }
    }

    ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 6rem;

        li {
            @include orderFlex(column, center, center);
            text-align: center;
            margin-bottom: 4rem;

            div {
                width: 6rem;
                img {
                    width: 7rem;
                }
            }

            p {
                color: $main-white;
                margin-top: 2rem;
                font-size: 2rem;
            }

        }
    }
}
@media screen and (min-width: 700px) {
    .description {
        .principalWrapper {
            span {
                font-size: 3rem;
            }
            img {
                width: 12rem;
            }
            p {
                font-size: 3rem;
            }
        }
    }
}

// PRODUCT ------------------------------------------

.listProducts {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f1eae6c9;

    .principalWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
    }
   
    h2 {
        font-size: 2.5rem;
        color: #e4842b;
        text-align: center;
        margin: 2rem;
        padding-bottom: 2.6rem;
        border-bottom: 1px dashed #242221;
    }

    .cafeteria {
        width: 100%;
        font-size: 2rem;
        text-align: center;
        margin-bottom: 25vh;
    }

    #btnClassics {
        border-radius: 15px 15px 0 0;
        margin-top: 2rem;
    }
    .border-radius-bottom {
        border-radius: 0 0 15px 15px;
    }

    .container-items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        font-size: 28px;


        color: #e0dad3;
        background: #242221;

        .btn-details {
            border: none;
            width: 65%;
            height: 35px;
            text-align: start;
        }  
    }

    .container-details {
        position: relative;
        overflow-y: hidden;
        height: 0;
        width: 100%;
        
        .container-coffee {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
            gap: 1px;

            button {
                border: none;
                span {
                    font-weight: 700;
                    font-size: 18px;
                }
            }

            .title-item {
                width: 100%;
                flex-basis: 55px;
                text-align: center;
                padding: 1rem;
                background: #e4842b;

                display: flex;
                justify-content: space-between;
                align-items: center;

                div {
                    @include orderFlex(row, space-around, center);
                }
                    span {
                        font-weight: 700;
                        font-size: 18px;
                        margin-right: 7px;
                    }
                    button {
                        @include orderFlex(row, center, center);
                        width: 30px;
                        height: 30px;
                        font-size: 1.8rem;
                        background: #242221;
                        color: #dbd9d9;
                        border-radius: 50%;
                        
                        box-shadow: 2px 2px 4px #af6622, -3px -3px 2px #db8c41, inset 1px 1px 4px #838383;
                        &:hover {
                            background: #575453;
                            border: 1px solid #000000;
                        }
                    }
                
            }


            .container-size {
                position: absolute;
                display: flex;
                justify-content: space-between;
                width: 80vw;
                height: 325px;
                left: calc(80vw);

                .title {
                    position: absolute;
                    padding: 2rem;
                    bottom: 120px;
                    left: -189px;
                    text-align: center;
                    background: #e4842b;
                    font-size: 28px;
                    z-index: 15;
                    width: 464px;
                    transform: rotate(-90deg);

                    h3 {
                        display: inline;
                        text-align: center;
                    } 
                }

                .container-size-details {
                    position: absolute;
                    background: #eeeeee;
                    left: calc(86px);
                    padding-right: 45px;
                    width: 90%;
                    height: 325px;
                    overflow-y: hidden;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-around;
                    z-index: 90;
                    box-shadow: 3px 5px 8px #642800;
                    border-bottom: 2px solid #000000;
                    border-left: 2px solid #000000;

                    .li-btn {
                        position: relative;
                        align-self: flex-end;

                        .btn-close {
                            margin: 0 2rem;
                            width: 40px;
                            height: 40px;
                            font-size: 1rem;
                            font-weight: 600;
                            color: #dbd9d9;
                            background: #646161;
                            border-radius: 50%;
                            box-shadow: 2px 2px 4px #a1a09f, -3px -3px 2px #ffffff, inset 2px 2px 4px #b3b2b2;
                            &:hover {
                                background: #272727;
                                border: 3px solid #000000;
                            }
                        }
                    }
    
                    .li-size {
                        @include orderFlex(row, space-around, center);
                        width: 80%;
                        padding: .5rem 0;
                        font-size: large;
                        font-weight: 600;
                        
                        button {
                            @include orderFlex(row, center, center);
                            width: 30px;
                            height: 30px;
                            font-size: 1.8rem;
                            background: #242221;
                            color: #dbd9d9;
                            border-radius: 50%;
                            
                            box-shadow: 2px 2px 4px #a1a09f, -3px -3px 2px #ffffff, inset 1px 1px 4px #838383;
                            &:hover {
                                background: #575453;
                                border: 1px solid #000000;
                            }
                        }
                    }
                }
            }
        }
    }
    
    .food {
        position: relative;
        display: flex;
        width: 300px;
        height: 180px;
        overflow: hidden;
        margin: 1rem;
        border: 1px solid #e4842baf;
        border-radius: 10px;
        background: #f0eeee;
        box-shadow: 2px 2px 6px #7e7a7a;
        transition: 2s all;

        .container-img {
            width: 100%;

            img {
                position: relative;
                width: 100%;
            }
        }

        .flex-container {
            max-width: 40%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;
            overflow: hidden;
            border-left: 1px solid #ff9f0f;

            h3 {
                text-align: center;
            }

            span {
                color: #e4842b;
                padding: 5px;
            }

            p {
                font-size: .9rem;
                padding: 5px;
            }

        }

        .btnAdd {
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            left: 0;
            right: 0;
            top: 0;

            button {
                border: none;
                background: #ff8c20;
                border: #eeeeeeaf 1px solid;
                color: #e0dad3;
                font-size: large;
                font-weight: 500;
                padding: 1rem;
                border-radius: 10px;
                margin: 1rem;
            }

        }
    }


    .up-hide-classics {
        animation: showDetailsClassics 1.2s normal forwards;
    }
    .up-hide-specials {
        animation: showDetailsSpecials 1.2s normal forwards;
    }

    .right-show {
        animation: showDetails2 .5s normal forwards;
    }

    .right-hide {
        animation: hideDetails2 .5s normal forwards;
    }

    .hide-info {
        animation: hideInfo .5s normal forwards;
    }

    .full-img {
        animation: imgCover .5s normal forwards;
    }

    .show-btn {
        display: flex;
        opacity: 1;

    }

    .cross {
        position: absolute;
        right: 0;
        top: 0;
        margin: 2% 3%;
        color: #e4842b85;
        font-size: 20px;
        font-weight: 500;
    }

    .hide-btn {
        display: none;
        opacity: 0;
    }
    .anim-btn {
        animation: aniBtn .5s normal forwards;
    }

    .border-active {
        animation: borderActive .2s normal forwards;
    }
}




// .listProducts {
//     @include orderFlex(column, center, center);
//     background: $main-white;
//     padding: 8rem 0;
//     text-align: center;

//     .principalWrapper {
//         @include orderFlex(column, center, center);
//     }

//     h2 {
//         font-size: 3.5rem;
//         color: $main-blue;
//     }

//     ul {
//         width: 100%;
//         margin-top: 7rem;
//         @include orderFlex(row, space-between, center);
//         flex-wrap: wrap;

//         @media (max-width: 1200px){
//             @include orderFlex(column, space-between, center);
//         }

//         li {
//             flex:  0 0 270px;
//             @include orderFlex(column, center, center);
//             background: $main-white;
//             border-radius: 3rem;
//             padding: 2.5rem;
//             margin-bottom: 5rem;
//             box-shadow: 2px 0px 17px 2px rgba($main-black,0.30);
//             position: relative;

//             @media (max-width: 1200px){
//                 width: 400px;
//             }

//             @media (max-width: 575px){
//                 width: 300px;
//             }

//             div {
//                 @include imageSize(14rem, auto);
//             }

//             span {
//                 &:first-of-type {
//                     color: black;
//                     text-transform: uppercase;
//                     font-size: 1.4rem;
//                     margin-top: 1.9rem;

//                     @media (max-width: 1200px){
//                         font-size: 7vw;
//                     }
//                 }

//                 &:last-of-type {
//                     color: black;
//                     text-transform: uppercase;
//                     font-size: 2.5rem;
//                     font-weight: 700;
//                     margin: 2rem 0;
//                 }
//             }

//             button {
//                 background: $main-orange;
//                 color: $main-black;
//                 text-transform: uppercase;
//                 padding: 0.8rem 4rem;
//                 font-size: 1.1rem;
//                 font-weight: 700;
//                 font-family: 'Lato', sans-serif;
//                 border: none;
//                 border-radius: 1rem;
//                 cursor: pointer;

//                 &.disabled {
//                     background: $main-gray;
//                     color: $main-white;
//                     cursor: no-drop;
//                 }
//             }

//             .outStock {
//                 background: $main-error-color;
//                 color: $main-white;
//                 position: absolute;
//                 top: 1rem;
//                 z-index: 0;
//                 text-transform: uppercase;
//                 font-size: 1.5rem;
//                 padding: 0.8rem 0;
//             }
//         }
//     }
// }

.cartList {
    @include orderFlex(column, center, center);
    padding: 8rem 0;
    text-align: center;
    background: $main-gray;
    position: relative;

    #totalItems {
        position: absolute;
        top: 0;
        background: $main-error-color;
        color: $main-white;
    }

    .principalWrapper {
        @include orderFlex(column, center, center);
    }

    h2 {
        font-size: 3.5rem;
        color: #e4842b;

        @media (max-width: 1200px){
            font-size: 10vw;
        }
    }

    p {
        font-size: 1.5rem;
        color: #e4842b;
        margin: 1.5rem 0 2rem 0;

        @media (max-width: 1200px){
            font-size: 7vw;
        }
    }

    .cart-wrapper {
        width: 70%;
        background: $main-white;
        padding: 2rem;
        border-radius: 1rem;
        color: #e4842b;

        @media (max-width: 1200px){
            width: 90%;
        }

        .cart-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 0.5rem;

            span {
                font-size: 1.6rem;
                font-weight: 700;

                @media (max-width: 1200px){
                    font-size: 0.8rem;
                }
            }
        }

        .cart-item-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #733727;

            span {
                text-transform: capitalize;
                font-size: 1.6rem;
                font-weight: 500;
                margin-left: 1rem;
            }
        }

        .item-img{
            width: 50px;
        }

        .total-items {
            display: flex;
            justify-content: flex-end;
            font-size: 1.6rem;
            margin-top: 2rem;
            padding-top: 1rem;
        }

        // .total-items {
        //     @include orderFlex(row, flex-end, flex-end);
        // }

        // button {
        //     background: $main-orange;
        //     font-weight: 700;
        //     font-size: 2rem;
        //     text-transform: uppercase;
        //     border: none;
        //     border-radius: 1rem;
        //     padding: 1rem 2rem;
        //     margin-top: 2.5rem;

        //     @media (max-width: 1200px){
        //         font-size: 5vw;
        //     }
        // }

    }
}

.total-items {
    display: flex;
    justify-content: flex-end;
    font-size: 1.6rem;
    margin-top: 2rem;
    padding-top: 1rem;
}

// button {
//     background: $main-orange;
//     font-weight: 700;
//     font-size: 2rem;
//     text-transform: uppercase;
//     border: none;
//     border-radius: 1rem;
//     padding: 1rem 2rem;
//     margin-top: 2.5rem;

//     @media (max-width: 1200px){
//         font-size: 5vw;
//     }
// }

.emptyProductsMessage {
    font-weight: 700;
    font-size: 1.6rem;
}


// FOOTER ------------------------------------------

footer {
    @include orderFlex(column, center, center);
    padding: 8rem 0 4rem 0;
    background: #242221;
    color: $main-white;
    text-transform: uppercase;

    .principalWrapper {
        @include orderFlex(column, center, center);
    }

    .title {
        @include imageSize(30rem, auto);
        margin-bottom: 4rem;

        @media(max-width: 1200px) {
            @include imageSize(70vw, auto);
        }
    }

    section {
        width: 80%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 4rem;

        @media(max-width: 1200px) {
            flex-direction: column;
            text-align: center;
        }

        div {
            display: flex;
            flex-direction: column;

            @media(max-width: 1200px) {
                margin-bottom: 3rem;
            }

            h2 {
                font-size: 2.2rem;
                margin-bottom: 1.8rem;
            }

            span {
                font-size: 1.5rem;
            }
        }
    }
}