// PRODUCT ------------------------------------------
// CAFETERIA ------------------------------------------

.listProducts {
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
    align-items: center;
    background: #f1eae6c9;

    .principalWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
    }
   
    h2 {
        font-size: 2.5rem;
        color: #e4842b;
        text-align: center;
        margin: 2rem;
        padding-bottom: 2.6rem;
        border-bottom: 1px dashed #242221;
    }

    .cafeteria {
        width: 100%;
        font-size: 2rem;
        text-align: center;
        margin-bottom: 25vh;
    }

    #btnClassics {
        border-radius: 15px 15px 0 0;
        margin-top: 2rem;
    }
    .border-radius-bottom {
        border-radius: 0 0 15px 15px;
    }

    .container-items {
        @include orderFlex(row, space-between, center);
        padding: 1rem;
        font-size: 28px;
        color: #e0dad3;
        background: #242221;

        .btn-details {
            border: none;
            width: 65%;
            height: 35px;
            text-align: start;
        }  
    }

    .container-details {
        position: relative;
        overflow-y: hidden;
        height: 0;
        width: 100%;
        
        .container-coffee {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
            gap: 1px;

            button {
                border: none;
                cursor: pointer;
                span {
                    font-weight: 700;
                    font-size: 18px;
                }
            }

            .title-item {
                width: 100%;
                flex-basis: 55px;
                text-align: center;
                padding: 1rem;
                background: #e4842b;

                display: flex;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;

                div {
                    @include orderFlex(row, space-around, center);
                }
                    span {
                        font-weight: 700;
                        font-size: 18px;
                        margin-right: 7px;
                    }
                    button {
                        @include orderFlex(row, center, center);
                        width: 30px;
                        height: 30px;
                        font-size: 1.8rem;
                        background: #242221;
                        color: #dbd9d9;
                        border-radius: 50%;
                        cursor: pointer;
                        
                        box-shadow: 2px 2px 4px #af6622, -3px -3px 2px #db8c41, inset 1px 1px 4px #838383;
                        &:hover {
                            background: #575453;
                            border: 1px solid #000000;
                        }&:active {
                            animation: btnActive .1s normal ;
                        }
                    }
                
            }


            .container-size {
                position: absolute;
                display: flex;
                justify-content: space-between;
                width: 80vw;
                height: 325px;
                left: calc(80vw);

                .title {
                    position: absolute;
                    padding: 2rem;
                    bottom: 120px;
                    left: -189px;
                    text-align: center;
                    background: #e4842b;
                    font-size: 28px;
                    z-index: 15;
                    width: 464px;
                    transform: rotate(-90deg);

                    h3 {
                        display: inline;
                        text-align: center;
                    } 
                }

                .container-size-details {
                    @include orderFlex(column, space-around, center);
                    position: absolute;
                    background: #eeeeee;
                    left: calc(86px);
                    padding-right: 45px;
                    width: 90%;
                    height: 325px;
                    overflow-y: hidden;
                    z-index: 90;
                    box-shadow: 3px 5px 8px #642800;
                    border-bottom: 2px solid #000000;
                    border-left: 2px solid #000000;

                    .li-btn {
                        position: relative;
                        align-self: flex-end;

                        .btn-close {
                            margin: 0 2rem;
                            width: 40px;
                            height: 40px;
                            font-size: 1rem;
                            font-weight: 600;
                            color: #dbd9d9;
                            background: #646161;
                            border-radius: 50%;
                            box-shadow: 2px 2px 4px #a1a09f, -3px -3px 2px #ffffff, inset 2px 2px 4px #b3b2b2;
                            &:hover {
                                background: #272727;
                                border: 3px solid #000000;
                            }
                        }
                    }
    
                    .li-size {
                        @include orderFlex(row, space-around, center);
                        width: 80%;
                        padding: .5rem 0;
                        font-size: large;
                        font-weight: 600;
                        
                        button {
                            @include orderFlex(row, center, center);
                            width: 30px;
                            height: 30px;
                            font-size: 1.8rem;
                            background: #242221;
                            color: #dbd9d9;
                            border-radius: 50%;
                            
                            box-shadow: 2px 2px 4px #a1a09f, -3px -3px 2px #ffffff, inset 1px 1px 4px #838383;
                            &:hover {
                                background: #575453;
                                border: 1px solid #000000;
                            }
                            &:active {
                                animation: btnActive .1s normal ;
                            }
                        }
                    }
                }
            }
        }
    }
}  
// FOOD ------------------------------------------
form {
    input {
        border-radius: 15px;
        padding: 5px;
    }
    button {
        border: none;
        border-radius: 18px;
        padding: 8px;
        background: #e4842b;
        color: #fff;
        &:hover {
            background: #724821;
        }
    }
}

section { 
    
    .productSearch {
        background: #242221;
        width: 80vw;
        flex-wrap: wrap;
        @include orderFlex(row, center, center);
        border-radius: 15px;
        padding: 1rem;
        margin-top: 1rem;
    
    .food {
        position: relative;
        display: flex;
        width: 300px;
        height: 175px;
        overflow: hidden;
        margin: 1rem;
        border: 2px solid #838383;
        border-radius: 10px;
        background: #f0eeee;
        box-shadow: 2px 2px 6px #7e7a7a;
        transition: 2s all;
        cursor: pointer;

        .container-img {
            width: 100%;

            img {
                position: relative;
                width: 100%;
                box-shadow: 3px 0 8px #646161;
            }
        }

        .flex-container {
            max-width: 40%;
            @include orderFlex(column, space-between, flex-end);
            overflow: hidden;
            box-shadow: inset 2px 0 4px #646161;

            h3 {
                text-align: center;
                padding: 4px;
            }

            span {
                color: #e4842b;
                font-weight: 500;
                padding: 5px;
            }

            p {
                font-size: 1rem;
                padding: 11px;
                color: #7e7a7a;
            }

        }

        .btnAdd {
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            left: 0;
            right: 0;
            top: 0;

            button {
                border: none;
                background: #ff8c20;
                border: #eeeeeeaf 1px solid;
                color: #e0dad3;
                font-size: large;
                font-weight: 500;
                padding: 1rem;
                border-radius: 10px;
                margin: 1rem;
                cursor: pointer;
            }

        }
    }
}
}
@media screen and (min-width: 700px) {
    .sectionFood {
        @include orderFlex(row, center, center);
        flex-wrap: wrap;
    }
}

.up-hide-classics {
    animation: showDetailsClassics 1.2s normal forwards;
}
.up-hide-specials {
    animation: showDetailsSpecials 1.2s normal forwards;
}

.right-show {
    animation: showDetails2 .5s normal forwards;
}

.right-hide {
    animation: hideDetails2 .5s normal forwards;
}

.hide-info {
    animation: hideInfo .5s normal forwards;
}

.full-img {
    animation: imgCover .5s normal forwards;
}

.show-btn {
    display: flex;
    opacity: 1;
}

.cross {
    position: absolute;
    right: 0;
    top: 0;
    margin: 2% 3%;
    color: #e4842b85;
    font-size: 20px;
    font-weight: 500;
}

.hide-btn {
    display: none;
    opacity: 0;
}
.anim-btn {
    animation: aniBtn .5s normal forwards;
}

.border-active {
    animation: borderActive .2s normal forwards;
}

